fastapi
fastapi[standard]
uvicorn
python-multipart
python-dotenv
librosa
numpy
openai
python-multipart
pydantic
ffmpeg-python
dotenv
regex
datetime
pathlib
uuid
fastapi
starlette
typing
pydantic
future
openai
sounddevice
scipy
numpy
pip install sounddevice scipy openai python-dotenv
elevenlabs